<nz-result nzStatus="404" nzTitle="404" nzSubTitle="Страница, которую вы посетили, не существует...">
  <div nz-result-extra>
    <button nz-button nzType="primary" routerLink="/submit">Вернуться на главную</button>
  </div>
</nz-result>

